

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Uusuario :{{usuario}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="col-6">
      <h3>Perfiles</h3>
      <ul *ngFor="let per of perfiles">
        <li type="disc">{{per}}</li>
      </ul>
    </div>

  </mat-card-content>
</mat-card>
