<div *ngIf="router.url !=='/pages/signosvitales'" >
  <router-outlet></router-outlet>
</div>



<div *ngIf="router.url ==='/pages/signosvitales'">

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nombres">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
    <td mat-cell *matCellDef="let row"> {{row.paciente.nombres}} </td>
  </ng-container>

  <ng-container matColumnDef="apellidos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
    <td mat-cell *matCellDef="let row"> {{row.paciente.apellidos}} </td>
  </ng-container>
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
    <td mat-cell *matCellDef="let row">  {{ row.fecha | date: "dd/MM/yyyy" }} </td>
  </ng-container>

  <ng-container matColumnDef="temperatura">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura </th>
    <td mat-cell *matCellDef="let row"> {{row.temperatura}} </td>
  </ng-container>
  <ng-container matColumnDef="pulso">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pulso </th>
    <td mat-cell *matCellDef="let row"> {{row.pulso}} </td>
  </ng-container>

  <ng-container matColumnDef="ritmo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ritmo </th>
    <td mat-cell *matCellDef="let row"> {{row.ritmorespiratorio}} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let row">
      <button mat-button color="primary" [routerLink]="['edicion', row.id]">
        <mat-icon>ballot</mat-icon>
      </button>
      <button mat-button color="accent" (click)="eliminar(row.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)">
</mat-paginator>

<button mat-fab color="accent" style="float: right" routerLink="/pages/signosvitales/nuevo">
  <mat-icon>create</mat-icon>
</button>
</div>
