
 <form autocomplete="on" [formGroup]="forma" (ngSubmit)="guardar()">

  <div class="row col-md-6">

    <mat-form-field class="full-width" appearance="outline">
      <input type="text" placeholder="Digite Paciente" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre"
      (optionSelected)="seleccionarObjecto($event)">
        <mat-option *ngFor="let paciente of pacientesFiltrados | async" [value]="paciente">
          <img class="example-option-img" aria-hidden  height="25">
          <span>{{paciente.nombres}} {{paciente.apellidos}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Temperatura</mat-label>
        <input matInput placeholder="Temperatura" formControlName="temperatura" />
      </mat-form-field>


      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Pulso</mat-label>
        <input matInput placeholder="Pulso" formControlName="pulso" />
      </mat-form-field>


      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Ritmo Respiratorio</mat-label>
        <input matInput placeholder="Ritmo Respiratorio" formControlName="ritmorespiratorio" />
      </mat-form-field>

  </div>

    <div class="row">
      <button mat-raised-button color="accent" routerLink="/pages/signosvitales"type="button" >
        <span>Cancelar</span>
      </button>
    </div>
    <div class="row">
      <button mat-raised-button color="primary" [disabled]="!forma.valid">
        Grabar
      </button>
    </div>



</form>
